*{
    margin: 0;
     padding:0;
}
.navbar{
    /* display: block;       */
    display: flex;
}
#position{
  
    position: sticky;
}
.nav-list{
    color: rgb(238, 230, 230);
    width: 100%;
     display: flex;
        list-style-type:none;
}
.nav-list li {
    text-decoration:none; 
    padding: 26px 30px;
     
}
.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
    border: radius 30px; 
}
.nav-list li a:hover{
    color: black;
    background-color:white;
}
.backGround{
        background-color:gray;
        background-size: cover;
        
}
.rightNav{
        
         width: 50%;
         text-align:right ;
        }

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}
#home::before
{
    top: 0px;
    left: 0px;
    content: "";
    position: absolute;
    background:url('../img/img4.jpg') no-repeat center center/cover;
    height: 111%;
    width: 100%;
   z-index:-1;


}
.text{
    padding: 10px;
    text-align: center;
    font-size: large;
    justify-content: center;
    color: white;
}
.h12{
    font-size: 100%;
    color: white;
}
.btns{
      padding: 6px 10px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgb(78, 168, 228);
      border: 2px solid white;
      font-size: large;
      border-radius: 30px;
      cursor: pointer; 
      margin: 10px;
}
.openclass{
    color: rgb(27, 24, 21);
    margin: 100px;
    padding: 10px 1px;
     
}

.h13{
    margin-left: 500px;
    font-size: 300%;
    color:rgb(230, 216, 216);
}

.welcome {

    color: black;
}

.box{
    padding: 10px 10px;
    text-align:center;
    display:flex;

}
.h5{
    
    color: black;

    padding: 5px 50px;

}
.background{
    margin: 200px;
}
.space{
 padding: 10px;

}
.boxn{
    cursor: pointer;    
    border: 2px solid rgb(218, 35, 35);
    border-radius: 50px;
    box-shadow: 3px;
    background-color:rgb(245, 237, 237);
    padding:5px 5px;
}
.services{
      height: 600px;

    background: url('../img/img6.jpg') no-repeat center center/cover;
        
}

.btn2{
    padding: 3px 3px;
   background-color: rgb(118, 180, 151);
   border: 2px solid rgb(194, 174, 61);
   font-size: large;
   border-radius: 30px;
   cursor: pointer; 
   margin: 2px;
}
.optionlist {
    padding-top: 60px;
    background-color: rgba(53, 190, 172, 0.089);
      display: flex;
     height: 300px;
     width:100%;
}
.optionlist li 
{   padding-top: 50px;
    list-style: none;
    padding: 10px 50px ;
    text-decoration: none;
    
}
.optionlist li a{
    padding-top: 100px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:inherit;
    font-optical-sizing: 10px;
    text-decoration:rgb(120, 160, 136);
    padding: 20px 5px;
    color:rgb(211, 23, 16)
}
.optionlist li img{
         padding-top: px;
         border: 2px solid rgb(202, 17, 17) ;
                  }
.h4{
    background-color: rgb(81, 186, 235);
    text-align: center;
    font-size:40px;
     color: aliceblue;
    
}

/* .h44{
    background-color: rgb(153, 24, 24);
    text-align: center;
    font-size:40px;
     color: aliceblue;
    
} */



.h12{

font-size: 50px;
}
.h5{
    font-size:50px;
 
}


.col{
    padding: 20px 30px;
}
.form-control{

          size: 50px;
          width: 60%;
        padding: 10px 10px;
}
.form-label {
       color: aliceblue;
       padding: 30px 40px;
       font-size:  30px;
       font-family: 'Times New Roman', Times, serif;

}            

.col2{
    padding: 20px 30px;
}
.col3{
    padding: 20px 100px;
}
.h14{
    text-align: center;
    font-size:40px;
     color:rgb(0, 0, 0);
}
.orderform{
    background:url('../img/img22.jpg') no-repeat center center/cover;   
}
